<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firefly" version="0.4" />
  <package id="Gate" version="0.3.4" />
  <package id="Gate.Adapters.Nancy" version="0.3.4" />
  <package id="Gate.Builder" version="0.3.4" />
  <package id="Gate.Middleware" version="0.3.4" />
  <package id="jQuery" version="1.7.1" />
  <package id="Nancy" version="0.9.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Owin" version="0.7" />
  <package id="SignalR.Hosting.Owin" version="0.4.0.0" />
  <package id="SignalR.Hosting.Self" version="0.4.0.0" />
  <package id="SignalR.Js" version="0.4.0.1" />
  <package id="SignalR.Server" version="0.4.0.0" />
</packages>